.navbar.new-navbar {
	background: #fc5f10;
	.nav.navbar-nav > li > a {
		background-color: transparent;
		color: #ffffff;
		padding: 5px 20px;
		margin: 10px 0;
		border-top: 3px solid #fc5f10;
		border-bottom: 3px solid #fc5f10;
	}
	.nav.navbar-nav li.active > a,
	.nav.navbar-nav > li > a:hover,
	.nav.navbar-nav > li > a:focus {
		border-top: 3px solid #ffffff;
		border-bottom: 3px solid #ffffff;
	}
}