/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url(http://fonts.gstatic.com/s/cantarell/v6/V86VyqXbc09Sss3BPsMj11tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

 $imgPath: "../imagens";
 @debug $imgPath;

.wrapper{
  max-width : 1280px;
  background-color: #FFFfff;
  margin: 40px auto;
}

body .container {
    width: 1180px;
    margin: 0 auto;
}

// General
@import "init/general";

// Header
@import "header/head_init";

// Navbar
@import "navbar/nav_init";

// Banner
@import "banner/banner_init";

// Main
@import "main/main_init";