extend layout

block content
    section.banner
        article.container
            .row
                .widgets.col-xs-3
                    .widget.widget-left
                        img(src="http://www.steinway.com/images/piano-model/GP215EP.png", alt="")
                    .widget.widget-left
                        img(src="http://www.steinway.com/images/piano-model/GP215EP.png", alt="")
                .widgets.col-xs-6
                    .widget.widget-center
                        img(src="http://www.steinway.com/images/piano-model/GP215EP.png", alt="")
                .widgets.col-xs-3
                    .widget.widget-right
                        img(src="http://www.steinway.com/images/piano-model/GP215EP.png", alt="")
                    .widget.widget-right
                        img(src="http://www.steinway.com/images/piano-model/GP215EP.png", alt="")
    
    section.quick
        article.container
            .row
                .col-xs-12
                    a(href="http://", target="_blank")
                        img(src="images/", alt="")

    section.testemonials
        article.container
            .row
                .col-xs-6
                    h2.
                        Depoimentos
                    ul.row
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                .col-xs-6
                    h2.
                        Novidades
                    ul.row
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
                        li.col-xs-12
                            img(src="http://dummyimage.com/50x50/000000/fff", alt="")
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat cumque sint alias quae! Aliquam quo sequi, quasi reprehenderit corporis fuga ea natus quaerat. Dolorum laborum similique saepe porro, modi nam.
    section.about
        article.container
            ul.row
                li.col-xs-4
                    .title.
                        Sobre Nós
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ad, fugiat nisi dolorum odio. Illum repellendus ab similique quidem minima incidunt cupiditate. Autem veniam delectus nisi tenetur dolores pariatur voluptatum!
                li.col-xs-4
                    .title.
                        Sobre Nós
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ad, fugiat nisi dolorum odio. Illum repellendus ab similique quidem minima incidunt cupiditate. Autem veniam delectus nisi tenetur dolores pariatur voluptatum!
                li.col-xs-4
                    .title.
                        Sobre Nós
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ad, fugiat nisi dolorum odio. Illum repellendus ab similique quidem minima incidunt cupiditate. Autem veniam delectus nisi tenetur dolores pariatur voluptatum!

