extend layout

block content
  
  section.banner
    article.container
      .row
        ul
          each val in [1,2,3,4]
            -var lista = "banner-"+val;
            li&attributes({'class':lista + ' col-md-12'})
              figure
                img(src="images/", alt="")
                figcaption
                  h2.
                    olá
  
  section.quick-links
    article.container
      .row
        .col-md-6
          figure
            img(src="images/", alt="")
            figcaption
              h2
        .col-md-6
          figure
            img(src="images/", alt="")
            figcaption
              h2
        
