doctype html
html
  head
    meta(charset='utf-8')
    meta(description='')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", type="text/stylesheet")
    link(href="/assets/css/main.css", type="text/stylesheet")

body
  .wrapper
    header.container-fluid
      .row
        .col-md-3
          h1.
            <i class="glyphicon glyphicon-leaf"></i> Allfacinho
        .col-md-9

    #main(role="main")
      block content 

    footer