 $imgPath : "../imagens";
@debug $imgPath;

.wrapper{
  max-width : 1280px;
  background-color : #ffffff;
  margin : 40px auto;
}

.container{
  width : 1380px;
}

// General
@import "init/general";

// Header
@import "header/head_init";

// Navbar
@import "navbar/nav_init";

// Banner
@import "banner/banner_init";